# **Trabalhando com Planilhas do Excel**

In [4]:
#Importando a biblioteca
import pandas as pd

In [5]:
#Leitura dos arquivos
data_frame1 = pd.read_excel("/content/drive/MyDrive/datasets/Aracaju.xlsx")
data_frame2 = pd.read_excel("/content/drive/MyDrive/datasets/Fortaleza.xlsx")
data_frame3 = pd.read_excel("/content/drive/MyDrive/datasets/Natal.xlsx")
data_frame4 = pd.read_excel("/content/drive/MyDrive/datasets/Salvador.xlsx")
data_frame5 = pd.read_excel("/content/drive/MyDrive/datasets/Salvador.xlsx")

In [ ]:
data_frame1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [6]:
#juntando todos os arquivos
data_frame = pd.concat([data_frame1,data_frame2,data_frame3,data_frame4,data_frame5])

In [ ]:
#Exibindo as primeiras 5 linhas
data_frame.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#Exibindo as ultimas 5 linhas
data_frame.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
#Amostra de 5 linhas aleátorias
data_frame.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
49   Fortaleza 2019-01-01  183.33    1002     6
51    Salvador 2019-01-01   13.37    1037     2
41    Salvador 2019-02-13    9.86    1035     2
3    Fortaleza 2019-02-10   20.95    1004     6
108      Natal 2019-01-02   11.72    1037     1

In [ ]:
#Tipos de dado de cada coluna
data_frame.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
#Alterando o tipo de dado da coluna LojaID: astype = como tipo string
data_frame["LojaID"] = data_frame["LojaID"].astype("object")

In [ ]:
data_frame.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

### **TRATANDO VALORES FALTANTES**

In [ ]:
#Consultando linhas com valores faltantes
data_frame.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#Substituindo os valores nulos pela média:
data_frame["Vendas"].fillna(data_frame["Vendas"].mean(), inplace = True)
#Mostrando os valores nulos existentes:
data_frame.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#Apagando as linhas com valores nulos:
data_frame.dropna(inplace = True)

In [ ]:
data_frame.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

In [ ]:
data_frame.sample(5)

       Cidade       Data  Vendas LojaID  Qtde
17      Natal 2018-02-18  276.00    854     3
231  Salvador 2019-01-03   89.85   1034     2
217  Salvador 2019-01-02   37.65   1036     2
224  Salvador 2019-01-02  178.30   1035     3
222  Salvador 2019-01-02   43.96   1037     1

In [ ]:
#Criando coluna de receita, .MUL de multiplicação
data_frame["Receita"] = data_frame["Vendas"].mul(data_frame["Qtde"])
data_frame.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [ ]:
data_frame["Receita/Vendas"] = data_frame["Receita"] / data_frame["Vendas"]

In [ ]:
data_frame.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [ ]:
#Retorna a maior receita
data_frame["Receita"].max()

3544.0

In [ ]:
#Retorna a menor receita
data_frame["Receita"].min()

3.34

In [ ]:
#nlargest -> Retorna o top 3 com base na coluna receita, 3 LINHAS COM MAIORES RECEITAS
data_frame.nlargest(3,"Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [ ]:
#nsamllest - > Retorna o top 3 piores em receitas
data_frame.nsmallest(3, "Receita")

       Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118   Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
92      Natal 2019-01-02    4.57   1035     1     4.57             1.0
92   Salvador 2019-01-01    4.57   1035     1     4.57             1.0

In [ ]:
#Agrupando por cidade, som,a das receitas em cada cidade
data_frame.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Salvador      81193.46
Name: Receita, dtype: float64

In [ ]:
#Ordenando o conjunto de dados, TOP 5 MELHORES RECEITAS 
data_frame.sort_values("Receita", ascending = False).head(5)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0

# Trabalhando com Datas

In [ ]:
#Transformando a coluna de data em tipo inteiro
data_frame["Data"] = data_frame["Data"].astype("int64")
data_frame.dtypes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [ ]:
#Verificando o tipo dado de cada coluna
data_frame.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [ ]:
#Transformando a coluna de data em data
data_frame["Data"] = pd.to_datetime(data_frame["Data"])
data_frame.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [ ]:
#Agrupamento por ano, retorna a soma de todas as receitas nas datas 2018 e 2019
data_frame.groupby(data_frame["Data"].dt.year)["Receita"].sum()

Data
2018    118326.77
2019    216756.43
Name: Receita, dtype: float64

In [ ]:
#Criando uma nova coluna com o ano
data_frame["Ano_Venda"] = data_frame["Data"].dt.year

In [ ]:
data_frame.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda
117,Natal,2019-01-02,39.41,1034,1,39.41,1.0,2019
42,Salvador,2019-01-01,44.28,1034,1,44.28,1.0,2019
126,Salvador,2019-03-02,41.69,1036,2,83.38,2.0,2019
48,Fortaleza,2019-01-01,40.71,1002,6,244.26,6.0,2019
160,Natal,2019-01-02,11.76,1034,1,11.76,1.0,2019

In [ ]:
 #Extraindo o mês
 data_frame["mes_venda"] = data_frame["Data"].dt.month
 #Extraindo o dia
 data_frame["dia_mes"] = data_frame["Data"].dt.day

In [ ]:
data_frame.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_mes
152,Salvador,2019-01-02,20.07,1035,1,20.07,1.0,2019,1,2
72,Salvador,2019-01-01,149.47,1036,3,448.41,3.0,2019,1,1
95,Natal,2019-01-02,5.13,1035,1,5.13,1.0,2019,1,2
107,Fortaleza,2019-01-01,21.90,1004,6,131.40,6.0,2019,1,1
101,Salvador,2019-01-01,32.28,1035,3,96.84,3.0,2019,1,1

In [ ]:
#Retornando a data mais antiga
data_frame["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [ ]:
#Calculando a diferença de dias
data_frame["diferenca_dias"] = data_frame["Data"] - data_frame["Data"].min()
data_frame.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_mes,diferenca_dias
159,Salvador,2019-01-02,172.52,1035,1,172.52,1.0,2019,1,2,366 days
91,Fortaleza,2019-01-01,37.49,1002,1,37.49,1.0,2019,1,1,365 days
156,Natal,2019-01-02,36.14,1037,3,108.42,3.0,2019,1,2,366 days
135,Natal,2019-01-02,9.95,1037,3,29.85,3.0,2019,1,2,366 days
201,Salvador,2019-01-02,86.61,1036,1,86.61,1.0,2019,1,2,366 days

In [ ]:
#Criando a coluna de trimestre
data_frame["trimestre_venda"] = data_frame["Data"].dt.quarter
data_frame.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_mes,diferenca_dias,trimestre_venda
124,Fortaleza,2019-03-02,47.98,983,7,335.86,7.0,2019,3,2,425 days,1
20,Salvador,2019-01-01,33.97,1034,3,101.91,3.0,2019,1,1,365 days,1
22,Salvador,2019-01-01,32.57,1035,1,32.57,1.0,2019,1,1,365 days,1
201,Natal,2019-01-02,86.61,1036,1,86.61,1.0,2019,1,2,366 days,1
200,Salvador,2019-01-02,41.06,1035,1,41.06,1.0,2019,1,2,366 days,1

In [ ]:
#Filtrando as vendas de 2019 do mês março, usando .loc[]
vendas_marco_19 = data_frame.loc[(data_frame["Data"].dt.year == 2019) & (data_frame["Data"].dt.month == 3)]

In [ ]:
vendas_marco_19.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_mes,diferenca_dias,trimestre_venda
71,Natal,2019-03-20,840.00,854,3,2520.00,3.0,2019,3,20,443 days,1
139,Fortaleza,2019-03-02,141.16,980,7,988.12,7.0,2019,3,2,425 days,1
117,Salvador,2019-03-02,39.41,1034,1,39.41,1.0,2019,3,2,425 days,1
29,Natal,2019-03-09,646.00,854,2,1292.00,2.0,2019,3,9,432 days,1
137,Salvador,2019-03-02,51.66,1036,3,154.98,3.0,2019,3,2,425 days,1

In [7]:
 data_frame.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8